@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.contact {
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
  }

  .aboutTop {
    width: 100%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .aboutBottom {
    
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
  }
  
  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }
  .centered1 {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: example;
    animation-duration: 3s;
    font-size: 50px;
  }
  @keyframes example{
    0%   {left:0%; top:45%;}
   100%  {left:50%; top:45%;}
  }
  iframe{
    height: 80vh;
  }