@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container2{
    background: rgb(2,0,36);
background: linear-gradient(101deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  text-align: center;
  background-repeat: repeat;
  background-position: absolute;
}
form{
    background-color: white;
    margin: 10px;
    margin-left: 240px;
    margin-right: 240px;
    border-radius: 5px;
}
.row{
    /* width: 30%; */
    margin: 10px;
    /* background-color: #559bb5; */
}
.btnsubmit{
    width: 30%;
    margin: 10px;
    margin-left: 100px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    border-radius: 10px;
    padding: 5px;
    color: white;
}