
      
      .item img {
          position: absolute;
          top: 0;
          left: 0;
          max-height: 100px !important;
      } */

      .carousel-inner > .item > img {
        width:640px;
        height:110px;
      }
      .w-100 {
        width: 100% !important;
        height: 55vh;
      }
     

